/*** Resets ***/

/* following adapted from HTML5 Reset */

html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}                 

img,
object,
embed {
  max-width: 100%;
}

/* following adapted from HTML5 Boilerplate */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*** Layout ***/

body {
  height: 100%;
  margin: 0 auto;
  max-width: 100%; /* Responsive resizing */
}

header {
  margin: 0;
  padding: .5em 0 0 0;
}

header hgroup {
  margin: .5em;
}

nav {
  margin: .5em auto;
  padding: .5em 0;
}

nav ul {
  margin: 0 auto;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li:last-child {
  margin: 0;
}

.post {
  margin: 1em 5%;
}

.post header {
  margin: .5em;
}

.post p {
  line-height: 1.375;
  padding-bottom: .5em;
}


/*** Cards ***/

.archive {
  margin: 0 auto;
  width: 16em;
}

.cardicle {
  float: left;
  list-style: none;
  margin: 0 auto;
  max-width: 16em;
  padding: .5em;
  width: 100%;
}

.cardicle a {
  text-decoration: none;
}

.cardicle a :hover, 
.cardicle a :focus {
  /* TODO */
}

.cardicle article {
  background: #fefefe;
  background: hsla(190, 10%, 99.5%, 1);
  box-shadow: #d5dadd 0 2px 1px 1px;
  box-shadow: hsla(200, 10%, 85%, .8) 0 2px 1px 1px;
  color: #151c1d;
  color: hsla(190, 16%, 9%, 1);
  line-height: 1.375;
  min-height: 16em;
  padding: .25em .75em;
}

.cardicle article h1 {
  color: #21759b;
  color: hsla(190, 65%, 36%, 1);
  font: normal 400 20px 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  font: normal 400 1.25rem 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

.cardicle article p {
  margin: 1em 0;
}

.cardicle article footer {
  font: normal 400 14px 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  font: normal 400 .875em 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  margin: 1em 0;
  text-align: right;
}


/*** Formatting and typography ***/

body {
  background: #fafafa;
  background: hsla(326, 3%, 98%, 1);
  color: #151c1d;
  color: hsla(190, 16%, 9%, 1);
  font: normal 16px Calluna, Georgia, serif;
  font: normal 1rem Calluna, Georgia, serif;
}

a,
a:visited {
  color: #21759b;
  color: hsla(190, 65%, 36%, 1);
}

header {
  background: hsla(190, 45%, 82%, 1);
  text-align: center;
}

header a {
  text-decoration: none;
}

header h1 {
  font-size: 32px;
  font-size: 2rem;
}

header h2 {
  font-size: 16px;
  font-size: 1rem;
}

nav {
  background: #f4f5f6;
  background: hsla(200, 10%, 96%, 1);
  font: normal 400 16px 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  font: normal 400 1rem 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
}

.post header {
  font: normal 400 16px 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  font: normal 400 1rem 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  line-height: 1.375;
}

.post header h1 {
  font-size: 20px;
  font-size: 1.25rem;
}


/*** Media queries ***/

@media screen and (min-width: 120em) {
  /* i.e. 1920px */

}

@media screen and (min-width: 100em) {
  /* i.e. 1600px */

}

@media screen and (min-width: 90em) {
  /* i.e. 1440px */

}

@media screen and (min-width: 80em) {
  /* i.e. 1280px */
  
}

@media screen and (min-width: 70em) {
  /* i.e. 1120px */

}

@media screen and (min-width: 64em) {
  /*i.e. 1024px */

}

@media screen and (min-width: 60em) {
  /* i.e. 960px */

}

@media screen and (min-width: 48em) {
  /* i.e. 768px */

}

@media screen and (min-width: 40em) {
  /* i.e. 640px */

}

@media screen and (min-width: 30em) {
  /* i.e. 480px */ 

}

@media screen and (min-width: 25em) {
  /* i.e. 400px */ 

}

@media screen and (min-width: 20em) {
  /* i.e. 320px */

}

@media screen and (min-width: 15em) {
  /* i.e. 240px */
  
}