/*** Resets ***/

/* following adapted from HTML5 Reset */

html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}                 

img,
object,
embed {
  max-width: 100%;
}

/* following adapted from HTML5 Boilerplate */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*** Layout ***/

body {
  height: 100%;
  margin: 0 auto 1em;
  max-width: 100%; /* Responsive resizing */
}

.banner {
  margin: 0;
  padding: 1em 0 0 0;
}

.banner hgroup {
  padding: .5em 0;
}

nav {
  margin: 0 auto;
  padding: .75em 0;
}

nav ul {
  margin: 0 auto;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li:last-child {
  margin: 0;
}

.post {
  margin: 1em auto 0;
  max-width: 42em;
  padding: 1em 5% 2em;
}

.contentinfo {
  clear: both;
  margin: 0 auto;
  padding: 2em 0;
}

.contentinfo ul li {
  display: inline-block;
  list-style: none;
  margin: 0 .5em;
}


/*** Formatting and typography ***/

html {
  color: hsla(138, 16%, 10%, 1)
  font: normal 400 16px/1 Calluna, Georgia, serif;
  font: normal 400 1rem/1 Calluna, Georgia, serif;
}

body {
  background: hsla(218, 2%, 32%, 1);
}

a,
a:visited,
.cardicle article h1 {
  color: hsla(138, 37.5%, 59.5%, 1);
}

h1 {
  font: normal 600 1.375em/2 Calluna, Georgia, serif;
}

h2 {
  font: normal 400 1.25em/2 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
}

h3 {
  color: hsla(138, 16%, 18%, 1)
  font: normal 400 1.125em/2 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
}

h4 {
  font: normal 600 1em/1 Calluna, Georgia, serif;
}

blockquote {
  background: hsla(138, 37.5%, 59.5%, .1);
  margin: 1em 1.5em;
  padding: .5em 1em;
}

.banner {
  background: hsla(138, 10%, 99.5%, 1);
  text-align: center;
}

.banner a {
  text-decoration: none;
}

.banner h1 {
  font-size: 1.75em;
  line-height: 1.5;
}

.banner h2 {
  font-size: 1em;
  line-height: 1.5;
}

nav {
  font: normal 400 1em 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
}

.post,
.cardicle article {
  background: hsla(138, 10%, 99.5%, 1);
  box-shadow: hsla(138, 37.5%, 59.5%, .5) 0 2px 1px 1px;
  line-height: 1.375;
}

.post header {
  padding: 1em 0;
  text-align: center;
}

.post header h1 {
  font: normal 400 1.375em/1.375 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  margin: 0 0 .25em;
}

.post header h2 {
  font-size: .875em;
  line-height: 1.375;
}

.post p {
  padding-bottom: .5em;
}

.contentinfo {
  color: hsla(138, 10%, 85%, 1);
  font: normal 400 .875em/2 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  text-align: center;
}

.contentinfo ul {
  font-size: 1.142857143em;
}

.contentinfo a {
    text-decoration: none;
}


/*** Cards ***/

.archive {
  margin: 0 auto;
  width: 100%;
}

.cardicle {
  list-style: none;
  margin: 0 auto;
  padding: 1em 0 0;
  width: 100%;
}

.cardicle a {
  text-decoration: none;
}

.cardicle a :hover, 
.cardicle a :focus {
  /* TODO */
}

.cardicle article {
  background: hsla(138, 10%, 99.5%, 1);
  color: hsla(138, 16%, 10%, 1);
  line-height: 1.375;
  min-height: 12em;
  padding: .75em;
}

.cardicle article h1 {
  font: normal 400 20px 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  font: normal 400 1.25rem 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
}

.cardicle article p {
  margin: 1em 0;
}

.cardicle article footer {
  font: normal 400 .875em 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  text-align: right;
}


/*** Media queries ***/

@media screen and (min-width: 20em) {
  /* i.e. 320px */
  
  .banner h1 {
    font-size: 2em;
  }

  .cardicle {
    max-width: 20em;
  }

}

@media screen and (min-width: 25em) {
  /* i.e. 400px */

  .post {
    padding: 0 8% 3em;
  }

}

@media screen and (min-width: 30em) {
  /* i.e. 480px */

  .banner,
  .post {
    font-size: 1.1875em;
  }

  .cardicle {
    max-width: 25em;
  }

}

@media screen and (min-width: 44em) {
  /* i.e. 704px */

  .banner,
  .post {
    font-size: 1.25em;
  }

  .post {
    max-width: 42em;
  }

  .archive {
    max-width: 42em;
  }

  /* becomes 2 columns for the first time here */
  .cardicle {
    float: left;
    margin: 0 .5em;
    width: 20em;
  }

  .cardicle article {
    min-height: 17em;
  }

}

@media screen and (min-width: 54em) {
  /* i.e. 864px */

  .archive {
    max-width: 52em;
  }

  .cardicle {
    width: 25em;
  }

  .cardicle article {
    min-height: 15em;
  }

}

@media screen and (min-width: 64em) {
  /* i.e. 1024px */

  .post {
    font-size: 137.5%;
    padding: 0 9% 3em;
  }

  .archive {
    max-width: 63em;
  }

  /* Becomes 3 columns for the first time here. */
  .cardicle {
    width: 20em;
  }

  .cardicle article {
    min-height: 17em;
  }

}

@media screen and (min-width: 80em) {
  /* i.e. 1280px */

  .banner,
  .post {
    font-size: 150%;
  }

  .archive {
    max-width: 66em;
  }

  .cardicle {
    margin: 1em 1em 0;
  }

}

@media screen and (min-width: 90em) {
  /* i.e. 1440px */

  .archive {
    max-width: 81em;
  }

  .cardicle {
    width: 25em;
  }

  .cardicle article {
    min-height: 15em;
  }

}