<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title != 'Home' %}{{ page.title }} &ndash; {% endif %}Jean C. Flanagan</title>

  <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- via Cloud Four -->

  <link rel="stylesheet" href="/style.css">

  <!-- Fonts from Typekit -->
  <script type="text/javascript" src="//use.typekit.net/wgk3veh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

  <header class="banner" role="banner">
    <hgroup>
      <h1><a href="/">Jean C. Flanagan</a></h1>
      <h2>science education specialist and writer</h2>
    </hgroup>
    <nav>
      <ul>
        <li><a href="/">Writing</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  
  {{ content }}

  <footer class="contentinfo" role="contentinfo">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <p>Site design by Oliver Pattison and Jean Flanagan <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">CC-BY-NC</a></p>
  </footer>

</body>
</html>